[submodule "themes/minimo"]
	path = themes/minimo
	url = https://github.com/MunifTanjim/minimo.git
[submodule "public"]
	path = public
	url = https://github.com/itaruki/itaruki.github.io.git
	branch = master
